* {box-sizing: border-box;}

body{
  margin: 0;
  background-color: #232bc9;
}

.mac1984{
  height: 100%;
  width: 100%;
}

.mac2003{
  height: 80%;
  width: 80%;
  display: none;
}

.imac{
  height: 90%;
  width: 90%;
  display: none;
}

.ipad{
  height: 80%;
  width: 80%;
  display: none;
}

.iphone{
  height: 70%;
  width: 70%;
  display: none;
}

@media (max-width: 900px) {
  .mac1984{
    display: none;
  }

  .mac2003{
    display: block;
  }
}

@media (max-width: 700px) {
  .mac2003{
    display: none;
  }

  .imac{
    display: block;
  }

}

@media (max-width: 600px) {
  .imac{
    display: none;
  }

  .ipad{
    display: block;
  }
}

@media (max-width: 500px) {
  .ipad{
    display: none;
  }

  .iphone{
    display: block;
  }
}
