* {
  box-sizing: border-box;
  vertical-align: top;
}

body{
background: #000;
}

h1{
  color: #fff;
  font-family: futura;
  text-align: center;
  size: 80px;
}

.title{
  font-family: helvetica;
  font-size: 50px;
  color: #25aebe;
  text-align: center;
  padding: 10px;
  margin: 10px;
  margin-bottom: 20px;
}

.text{
  color: #afaeaf;
  text-align: center;
  font-family: helvetica;
}

.image1, .image2, .image3{
  width: 50%;
  height: 50%;
  padding: 20px;
}

.image4{
  width: 20%;
  height: 20;
  padding: 15px;
  display: inline-block;
}
