* {
  box-sizing: border-box;
  vertical-align: top;
}

body{
background: #000;
}

h1{
  color: #fff;
  font-family: futura;
  text-align: center;
  size: 80px;
}

.title{
  font-family: helvetica;
  font-size: 50px;
  color: #25aebe;
  text-align: center;
  padding: 10px;
  margin: 10px;
  margin-bottom: 20px;
}

.text{
  color: #afaeaf;
  text-align: center;
  font-family: helvetica;
}

.image1{
  width: 100px;
  height:200px;
}
