* {
  box-sizing: border-box;
  vertical-align: top;
}

body{
  background: #888888;
  font-family: helvetica;
  font-size: 15px;
  padding: 10px;
  margin: ;
  text-align: center;
}

h1{
  font-family: ;
  font-size: 40px;
  text-decoration: ;
  color: #fff;
}

a:hover{
  color: #fff;
}
