* {
  box-sizing: border-box;
  vertical-align: top;
}

body{
  background: #693381;
}

.t1{
  font-family: acumin pro;
  font-size: 80px;
  color: #dc2f5d;
  font-weight: bolder;
  text-align: center;
  margins: 20px;
  padding: 25px;
}

.t1:hover{
transition: all 500ms ease;
transform: skew(-10deg);
color: #e2ed00;
}

.t2{
  font-family: bodoni;
  font-size: 60px;
  color: #e87a3b;
  text-align: left;
  margins: 20px;
  padding: 25px;
}

@keyframes bounce {
	0%, 20%, 60%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px);
	}

	80% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}
}

.t2:hover{
  transition: all 500ms ease;
  color: #403986;
  animation: bounce 1s;
}

.text{
  font-family: minion pro;
  font-size: 18px;
  margins: 20px;
  padding: 80px;
  color: #5bb836;
  /* padding-left: 40px;
  padding-right: 40px; */
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  height: 30%;
}

a:active, a:hover, a:visited, a:link{

}
