* {box-sizing: border-box;}

body{
  margin: 0;
}

header{
  background-color: #2F7541;
  height: 100px;
}

.header-item{

}

main{
  background-color: #FCF559;
  padding: 50px
}

.container{
  padding: 25px;
  background-color: orange;
  display: flex;
}

.container-item-outer{
  flex-basis: 33.333%;
  flex-grow: 0;
  flex-shrink: 0;
  padding: 25px;
  background-color: blue;
}

.container-item-inner{

}
