* {
  box-sizing: border-box;
  vertical-align: top;
}

body{
  background: #cee3ee;
  margin: ;
  padding: 10px;
  color: ;
  font-family: arial;
  font-size: 30px;
}

h1{
  font-weight: bold;
  font-size: 100px;
  text-align: center;
  color: #fff;
  transition: all 500ms ease;
  padding: 50px;
}

h1:hover{
  color: #be2225;
  transform: skew(-20deg);
  text-decoration: underline;
}

a:active, a:visited{
  color: black;
  text-decoration: none;
}

a:hover{
  color: #fff;
  text-decoration: none;
}

.back{
  text-align: center;
  font-size: 20px;
  margin-top: 700px;
}

.dropdown{
display: block;
padding: 50px;
position: absolute;
top: 60%;
left: 18%;
}

.dropbtn{
  background-color: #000;
	color: #fff;
	font-family: helvetica;
	font-size: 80px;
	font-weight: bold;
  margin: 20px;
	padding: 20px;
	border: 1px solid #ccc;
	cursor: pointer;
	display: inline-block;
	position: relative;
  text-align: center;
  transition: all 500ms ease;
}

.dropdown-content{
  display: none;
	position: absolute;
	background-color: #f9f9f9;
	font-family: helvetica;
	font-size: 30px;
	min-width: 160px;
	margin: 0 0 0 250px;
  text-align: center;
	z-index: 1;
  transition: all 500ms ease;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover{
	 background: #cee3ee;
   color: white;

}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown:hover .dropbtn{
	background-color: #d8d5d5;
	color: #000;
}
