* {
  box-sizing: border-box;
  vertical-align: top;
}

@font-face {
    font-family: milka;
    src: url("../fonts/forum.otf");
}

body{
  background: #cee3ee;
  padding: 10px;
  font-family: arial;
  font-size: 30px;
}

h1{
  font-weight: bold;
  font-size: 100px;
  text-align: center;
  color: #0d1d5e;
  transition: all 500ms ease;
  font-family: milka;
}

h1:hover{
  color: #f07037;
  transform: skew(-20deg);
}

header{
  /* display: flex; */
  margin-bottom: 10px;
  align-items: baseline;
}

.head{
  display: flex;
  justify-content: flex-end;
  margin-left: 300px;
}

.title{
  display: flex;
  align-items: baseline;
  font-size: 30px;
}

.bold{
  font-weight: bold;
  color: black;
}

a{
  color: black;
  text-decoration: none;
  font-size: 15px;
  font-family: futura;
  margin-left: 20px;
  color: #f7efe2;
  transition: all 500ms ease;
  font-weight: thin;
}


a:active, a:visited, a:link{
  color: #ffe888;
  text-decoration: none;
}

a:hover{
  color: #0d1d5e;
  text-decoration: none;
}

.back{
  text-align: center;
  font-size: 20px;
}

.wrapper{
  display: flex;
  align-items: flex-start;
  background-color: #f7efe2;
  padding: 20px;
  height: 500px;
  position: relative;
}

h2{
  font-size: 40px;
  font-weight: bold;
  color: #0d1d5e;
}

p{
  font-size: 20px;
  font-weight: lighter;
}

.high{
  display: flex;
  height: 400px;
  width:
  flex: 1;
  margin: 30px;
}

/* .rise{
  height: 500px;
  width: 1100px;
  opacity: 1;
  transition: all 500ms ease;
  position: fixed;
  top: 0;
  left: 0;
} */

.rise1.is-active {
  opacity: 1;
}

/* .rise:hover {
  opacity: 1;
  filter: opacity(75%);
  /* resize: both; */
  /* height: 100%;
  width: 100%;
} */

.high1{
  display: flex;
  position: relative;
  flex: 2;
  flex-flow: row wrap;
  justify-content: space-around;

}

.rise1{
  align-self: center;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
}

.direct{
  height: 1100px;
  display: flex;
}

.grid{
 display: flex;
 flex-wrap: wrap;
}

.grid-outer{
  flex: 0 0 25%;
  padding: 25px;
  position: relative;
}

.grid-inner{
  opacity: 0;
  transition: all 0.5s;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
}

.grid-outer:hover .grid-inner{
  opacity: 1;
}

.grid-outer:hover .imaged{
  opacity: 0.5;
}

.text{
  font-size: 20px;
  color: black;
  font-family: futura;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.imaged{
  height: auto;
  width: auto;
  max-height: 150px;
  max-height: 150px;
  display: flex;
  transition: all 0.5s;
}

/* COMPARISON PAGE */

.wrapper1{
  display: flex;
  background-color: #f7efe2;
  padding: 20px;
  height: 800px;
  align-items: center;
  flex-direction: column;
  margin: 0;
}

.text1{
  font-size: 20px;
  font-family: helvetica;
  display: flex;
  margin: 0;
  align-items: flex-start;
}

.h2{
  font-family: futura;
  font-size: 50px;
  color: #0d1d5e;
  margin-top: 0;
}

.words{
  margin-left: 50px;
  font-weight: normal;
  /* align-self: flex-start; */
}

.dropbtn{
  background-color: #0d1d5e;
  color: white;
  font-size: 30px;
  padding: 20px;
  font-family: "futura";
  font-weight: bold;
  transition: all 500ms ease;
  margin: 100px;
  display: flex;
  margin-top: 10px;
  position: relative;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 280px;
}

.dropbtn:hover{
  background-color: white;
  color: #0d1d5e;
}

select{
  display: flex;
}

.dropdown-content{
  display: none;
  background-color:  #cee3ee;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);;
  z-index: 1;
  text-align: center;
  margin: 0;
  transition: all 500ms ease;
  position: absolute;
  flex-direction: column;
}

.show.dropdown-content{
  display: flex;
}

.link:active, .link:visited{
  color: white;
}

.link:hover{
  color: #0d1d5e;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
  margin-top: 20px;
}


/* Style table headers and table data */
th, td {
  text-align: center;
  padding: 16px;

}

th:first-child, td:first-child {
  text-align: left;
}

/* Zebra-striped table rows */
tr:nth-child(even) {
  background-color: #f2f2f2
}

.text1{
  display: flex;
  flex-flow: row;
  flex: wrap;
}

.img1{
  width: 100%;
  height: 100%;
  max-width: 200px;
  max-height: 300px;
  margin: 20px;
  margin-bottom: 100px;
}

.wrapper2{
  display: flex;
  background-color: #f7efe2;
  padding: 20px;
  align-items: center;
  flex-direction: column;
  margin: 0;
}
