* {
  box-sizing: border-box;
  vertical-align: top;
}

@font-face {
  font-family: milka, sans-serif;
  font-style: normal;
  font-weight: 400;
}

body{
  background: black;
  padding: 10px;
  font-family: arial;
  font-size: 30px;
}

h1{
  font-weight: bold;
  font-size: 150px;
  text-align: center;
  color: #2c3f8d;
  transition: all 500ms ease;
  font-family: 'Jockey One', sans-serif;

}

h1:hover{
  color: #def5f0;
  transform: skew(-20deg);
}

header{
  display: flex;
  margin-bottom: 10px;
  align-items: baseline;
}

.head{
  display: flex;
  justify-content: flex-end;
  margin-left: 300px;
}

.title{
  display: flex;
  align-items: baseline;
  font-size: 30px;
}

.bold{
  font-weight: bold;
  color: black;
  font-family: 'Quicksilver', sans-serif;
}

a{
  text-decoration: none;
  font-size: 15px;
  font-family: 'Quicksand', sans-serif;
  margin-left: 20px;
  color: #ffe888
  transition: all 500ms ease;
  font-weight: thin;
}

a:visited, a:link{
  color: #ffe888;
  text-decoration: none;
}

a:hover{
  color: #0d1d5e;
  text-decoration: none;
  transition: all 500ms ease;
}

.back{
  text-align: center;
  font-size: 20px;
}

.wrapper{
  display: flex;
  align-items: flex-start;
  background-color: #f7efe2;
  padding: 20px;
  height: 500px;
  position: relative;
  margin-bottom: 0px;
  margin: 0;
}

.wrapped{
  display: flex;
  flex: 3;
  justify-content: center;
  align-items: center;
  background-color: #f7efe2;
  padding: 20px;
  height: 450px;1
  width: 375px;
}

.week_wrapper{
  font-size: 30px;
  font-family: arial;
  color: white;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  padding-bottom: 0;
  position: relative;
  border-style: solid;
  border-width: 2px;
  border-color: white;
  transition: all 500ms ease;
  flex-direction: column;
  margin: 0;
}

h2{
  font-size: 60px;
  font-weight: bold;
  color: #9dd8e1;
  font-family: 'Reem Kufi', sans-serif;
  margin-top: 0;
  display: flex;
  margin: 10px;
}

p{
  font-size: 20px;
  font-weight: lighter;
  font-family: 'Josefin Sans', sans-serif;
  margin-top: 50px;
  margin-left: 30px;
  margin-right: 30px;
  color: white;
  display: flex;
}

.black{
  font-size: 20px;
  font-weight: lighter;
  font-family: 'Josefin Sans', sans-serif;
  margin-top: 50px;
  margin-left: 30px;
  margin-right: 30px;
}

.head_section{
  font-size: 30px;
  font-family: arial;
  color: white;
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 20px;
  padding-bottom: 0;
  position: relative;
  border-style: solid;
  border-width: 2px;
  border-color: white;
  transition: all 500ms ease;
}

.head_section:hover{
  background-color: white;
  border-color: grey;
  color: black;
}

.high1{
  display: flex;
}

.rise1{
  align-self: center;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
}

.high{
  display: flex;
  width: 30%;
  flex: 1;
  margin: 20px;
}

.rise1.is-active {
  opacity: 1;
}

/* MOVIE OF THE DAY */

.mov_title{
  font-size: 60px;
  font-weight: bold;
  color: #9dd8e1;
  font-family: 'Reem Kufi', sans-serif;
  margin-top: 0;
  padding-bottom: 40px;
  display: flex;
  margin: 10px;
}

.dir_title{
  font-size: 40px;
  font-weight: lighter;
  font-family: 'Josefin Sans', sans-serif;
  margin-top: 50px;
  margin-left: 30px;
  color: white;
}

.dir{
  font-size: 40px;
  font-weight: lighter;
  font-family: 'Josefin Sans', sans-serif;
  margin-top: 50px;
  margin-bottom: 0;
  margin-right: 30px;
  color: white;
}

.outer_image{
  display: flex;
  justify-content: center;
  align-items: center;
}

.mov_image{
  display: flex;
  margin: 50px;
  align-content: center;
  width: 60%;
  color: white;
}

.video{
  display: flex;
  width: 100%;
}

/* COMPARISON PAGE */

.compare_wrapper{
  display: flex;
  padding: 20px;
  height: 800px;
  align-items: center;
  flex-direction: column;
  margin: 0;
  border-style: solid;
  border-width: 2px;
  border-color: white;
}

.compare_text{
  font-size: 20px;
  display: flex;
  margin: 0;
  /* align-items: flex-start; */

}

.compare_words{
  margin-left: 50px;
  font-weight: normal;
  /* align-self: flex-start; */
}

.dropbtn{
  background-color: #0d1d5e;
  color: white;
  font-size: 25px;
  padding: 20px;
  font-family: 'Futura', serif;
  font-weight: bold;
  transition: all 500ms ease;
  margin: 100px;
  display: flex;
  margin-top: 50px;
  align-items: center;
  justify-content: center;
  height: 80%;
  border: none;
}

.dropbtn:hover{
  background-color: white;
  color: #0d1d5e;
}

select{
  display: flex;
}

.dropdown-content{
  display: none;
  background-color:  #cee3ee;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);;
  z-index: 1;
  text-align: center;
  margin: 0;
  transition: all 500ms ease;
  position: absolute;
  flex-direction: column;
}

.show.dropdown-content{
  display: flex;
}

.link:active, .link:visited{
  color: white;
}

.link:hover{
  color: #0d1d5e;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #000;
  margin-top: 20px;
  background-color: black;
  color: white;
}


/* Style table headers and table data */
td {
  text-align: center;
  padding: 16px;
  font-family: 'Quicksand', sans-serif;
  background-color: black;
  color: white;
  border-style: solid;
  border-width: 2px;
  border-color: white;
}

th {
  text-align: center;
  padding: 16px;
  font-family: 'Josefin Sans', sans-serif;
  background-color: black;
  color: white;
  border-style: solid;
  border-width: 2px;
  border-color: white;
}


.bolded{
  font-weight: bold;
  background-color: black;
  color: white;
  font-family: 'Josefin Sans', sans-serif;
}

th:first-child, td:first-child {
  text-align: left;
}

/* Zebra-striped table rows */
tr:nth-child(even) {
  background-color: #
}

.text1{
  display: flex;
  flex-flow: row;
  flex: wrap;
}

.img1{
  width: 80%;
  margin: 20px;
  margin-bottom: 100px;
}

.linked{
  font-size: 30px;
  font-family: arial;
  display: flex;
  margin-bottom: 40px;
}

/*AWARDS PAGE*/

.awards_outer{
  display: flex;
}

.dropbtn_awards{
  background-color: #0d1d5e;
  color: #ffe888;
  font-size: 45px;
  padding: 20px;
  font-family: 'Futura', serif;
  font-weight: bold;
  transition: all 500ms ease;
  margin: 100px;
  display: flex;
  margin-top: 50px;
  align-items: center;
  justify-content: center;
  height: 80%;
  border: none;
  text-align: center
}

.dropbtn_awards:hover{
  background-color: white;
  color: #0d1d5e;
}

.awards-grid-outer{
  flex: 0 0 25%;
  padding: 25px;
  position: relative;
}

.awards-image{
  max-width: 100%;
  display: flex;
  transition: all 0.5s;
}

.awards_wrapper{
  align-items: flex-start;
  padding: 20px;
  position: relative;
  margin-bottom: 50px;
  height: 50%;
  display: flex;
  border-style: solid;
  border-width: 2px;
  border-color: white;
  flex-direction: row;
  flex: wrap;
}

.awards-grid{
  display: flex;
  flex-wrap: wrap;
}

/* DIRECTOR PAGE */

.direct{
  align-items: flex-start;
  /* background-color: #f7efe2; */
  padding: 20px;
  position: relative;
  margin-bottom: 50px;
  height: 100%;
  display: flex;
  border-style: solid;
  border-width: 2px;
  border-color: white;
}

.grid{
 display: flex;
 flex-wrap: wrap;
}

.grid-outer{
  flex: 0 0 25%;
  padding: 25px;
  position: relative;
}

.grid-inner{
  opacity: 0;
  transition: all 0.5s;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  display: flex;
}

.grid-outer:hover .grid-inner{
  opacity: 1;
}

.grid-outer:hover .imaged{
  opacity: 0.5;
}

.text{
  font-size: 20px;
  color: white;
  font-family: futura;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  display: flex;
}

.imaged{
  max-width: 90%;
  display: flex;
  transition: all 0.5s;
}

.barry{
  font-size: 60px;
  font-weight: bold;
  color: #9dd8e1;
  font-family: 'Reem Kufi', sans-serif;
  margin-top: 0;
  transition: all 500ms ease;
}

.barry:hover{
  color: #654483;
  transform: skew(20deg);
}

.portrait{
  display: flex;
  width: 70%;
  margin: 20px;
}

.portrait:hover{
  filter: saturate(3) brightness(1);
  transition: all 500ms ease;
}

/*THEME PAGE*/

.statement_outer{
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-style: solid;
  border-width: 2px;
  border-color: white; */
}

.statment_inner{

  font-weight: lighter;
  font-family: 'Josefin Sans', sans-serif;
  margin-top: 50px;
  margin-left: 30px;
  margin-right: 30px;
  color: white;
  display: flex;
  font-size: 30px;
}


/*MOBILE VERSION*/

@media (max-width: 475px) {
  h1{
    font-size: 80px;
    }

  h2{
    font-size: 30px;
  }

  .title{
    font-size: 15px;
  }

  a{
    font-size: 10px;
  }

  a:hover{
    color: #ffe888;
  }

  .black{
    margin-top: 0;
    font-size: 10px;
    margin-bottom: 10px;
  }

  .dir{
    font-size: 15px;
    margin-bottom: 10px;
    margin-top: 5px;
  }

  .desc{
    font-size: 10px;
    margin-top: 0;
  }

  p{
    font-size: 15px;
    margin-bottom: 10px;
  }

  .dropbtn{
    margin-top:
  }
}
